@media screen and (min-width: 992px){
    .navbar-nav .nav-item.active a,
    .navbar-nav .nav-item:hover a {
      color: white;
    }
@media screen and (max-width: 576px){
    #home > div > h1{
    font-size: 2rem;
}
}
    #navbarSupportedContent > ul > li.nav-item.dropdown > ul>li:hover a{
        color: blue;
    }
    #navbarSupportedContent > ul > li.nav-item.dropdown > a:hover{
        color: white;
    }
    .navbar-nav > .nav-item.active::after,
    .navbar-nav > .nav-item:hover::after {
      width: 100%;
    }
  }
